.menu-tab {
    .tab-item {
        white-space: nowrap;
        border-radius: 16px;
        cursor: pointer;

        &.active {
            color: var(--black);
            background-color: #fc8934;
            box-shadow: 0px 2px 2px 0px rgba(28, 36, 51, 0.10);
        }
    }

    @media (max-width: 767.98px) {
        max-width: max-content;
        width: 100%;
        overflow-x: auto;
    }
}

